.content__container {
  /* background: green; */
  color: var(--color-black);
  position: relative;
  top: 10rem;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 10;
}

h2.content-title {
  margin-bottom: 1.5rem;
}

.content {
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  gap: 3rem;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: var(--color-white-light);
  height: max-content;
  padding: 7%;
}

.content > .card > .body {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* ============== SMALL DEVICES ============== */
@media screen and (max-width: 600px) {
  .content {
    padding-bottom: 1.3rem;
    gap: 1.3rem;
  }

  h2.content-title {
    margin-bottom: 0.8rem;
  }

  .content__container {
    position: relative;
    top: 15rem;
  }
}
