.overview__container {
  /* background: green; */
  width: 100%;
  height: 100%;
  position: fixed;
  /* z-index: -1; */
}

header {
  height: 50%;
  display: flex;
  flex-direction: row;
}

.left-header {
  /* background: purple; */
  display: flex;
  flex-direction: row;
  /* Thumbnail Collapse */
  width: fit-content;
  /* Thumbnail Expand */
  /* width: 35%;  */
}

.left-header > .logo {
  /* background: pink; */
  width: max-content;
  /* Thumbnail Collapse */
  padding: 3.3rem;
  /* Thumbnail Expand */
  /* padding: 2.9rem; */
}

.left-header > .logo > img {
  width: 100%;
  max-width: 5rem;
}

.thumbnail__container {
  /* background: gray; */
  /* Thumbnail Expand */
  /* width: 100%;  */
  /* Thumbnail Collapse */
  width: 100%;
  display: flex;
  flex-direction: row;
  /* align-items: flex-start;
  justify-content: flex-start; */
}

.title-wrapper {
  /* background: aqua; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
  padding: 2rem;
}

.title-wrapper::before {
  content: '';
  display: inline-block;
  height: 100%;
  width: 5%;
  /* background: var(--color-white); */
}

.title {
  right: 100rem;
  text-align: right;
  width: 100%;
}

.title-cat {
  text-transform: uppercase;
}

.title-cat::after {
  content: '';
  display: inline-block;
  height: 1px;
  width: 1rem;
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  background: var(--color-white);
}

.title-name {
  text-transform: capitalize;
}

.thumbnail-wrapper {
  width: 40%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  /* padding-left: 20rem; */
}

.nav-back {
  position: absolute;
  top: 2.5rem;
  width: 100%;
  background: red;
}

.nav-back > a {
  color: var(--color-white);
  width: 100%;
}

.thumbnail {
  right: 0;
  background: var(--color-primary);
  width: 100%;
  height: 100%;
}

footer {
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  /* background: gray; */
}

.more {
  height: 100%;
  width: 100%;
  /* background: rgb(255, 254, 244); */
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.btn-more {
  width: fit-content;
  height: max-content;
  /* background: orange; */
  margin: 2.5rem;
}

.whitespace {
  /* background: red; */
  width: 100%;
  height: 100%;
}
