@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-bg: #272b28;
  --color-bg-variant: #fbfbfb;
  --color-primary: #2ec4b6;
  --color-primary-light: #d5f3f0;
  --color-primary-dark: #82dcd3;
  --color-white: rgba(255, 255, 255, 0.8);
  --color-white-light: #fff;
  --color-black: rgba(39, 43, 40, 0.8);
  --color-black-light: #c2c2c2;
  --color-black-dark: #828483;

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color: var(--color-white);
  line-height: 1.7;
  position: relative;
  /* height: 100%; */
  /* background-image: url(../src/assets/images/texture-bg.png); */
}

/* ============== GENERAL STYLEs ============== */

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
  border-width: 1;
  border-color: red;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

.hidden {
  display: none;
}

section > h2,
section > h5 {
  text-align: center;
  color: var(--color-black);
}

section > h2 {
  color: var(--color-black);
  margin-bottom: 3rem;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
}

a:hover {
  color: var(--color-primary-dark);
}

.btn {
  width: max-content;
  display: block;
  color: var(--color-primary);
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: var(--transition);
  text-transform: lowercase;
  font-weight: 500;
  border: 1px solid var(--color-primary-dark);
}

.btn:hover {
  background: var(--color-primary-light);
  color: var(--color-primary);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-white);
  border-color: transparent;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ============== MEDIUM DEVICES ============== */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ============== SMALL DEVICES ============== */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}
