.nav__container {
  width: max-content;
  height: max-content;
  bottom: 0;
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 1.5rem;
  padding-bottom: 2rem;
  gap: 2rem;
  /* z-index: 1; */
  position: fixed;
  z-index: 100;
}

nav > li,
h2.title {
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 3em;
}

/* ============== SMALL DEVICES ============== */
@media screen and (max-width: 600px) {
  .nav__container {
    display: none;
  }
}
